* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #555;
  font-family: arial, sans-serif;
  height: 100vh;
}

header {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.9);
  height: 15%;
  min-height: 80px;
  width: 100%;
}

header h1 {
  position: relative;
  text-transform: uppercase;
  font-size: 200%;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

header h1 p:nth-child(1) {
  animation: textUnderline 3s forwards;
  margin-left: -150%;
}
header h1 p:nth-child(2) {
  animation: textUnderline 3s forwards;
  margin-left: +150%;
}

.main {
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url(../img/main_runner.jpg);
  background-size: cover;
  background-position: center;
  /* filter: blur(2px); */
  background-attachment: scroll;
}

footer {
  font-size: 15px;
  text-align: center;
}

@keyframes textUnderline {
  0% {
    text-decoration: none;
  }
  25% {
    font-style: italic;
  }
  50% {
    text-decoration: none;
    margin-left: 0;
  }
  80% {
    text-decoration: underline #fff;
    margin-left: 0;
  }
  100% {
    text-decoration: underline #00cbff;
    margin-left: 0;
  }
}
