* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #555;
  font-family: arial, sans-serif;
  height: 300vh;
}

nav {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.9);
  height: 15%;
  width: 100%;
}
nav h1 {
  text-transform: uppercase;
  font-size: 250%;
  color: #fff;
  text-align: center;
  transform: translateY(50%);
}

.main {
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url(../img/main_runner.jpg);
  background-size: cover;
  background-position: center;
  /* filter: blur(2px); */
  background-attachment: scroll;
}

footer {
  font-size: 15px;
  text-align: center;
}
