* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #555;
  font-family: arial, sans-serif;
  height: 300vh;
}

nav {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  height: 20%;
  width: 100%;
}

.main {
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url(../img/main_runner.jpg);
  background-size: cover;
  background-position: center;
  /* filter: blur(2px); */
  background-attachment: fixed;
}

footer {
  font-size: 15px;
  text-align: center;
}
